<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanyuan.mapper.UmsUserRechargeRecordMapper">
  <resultMap id="BaseResultMap" type="com.shanyuan.model.UmsUserRechargeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="change_type" jdbcType="BIT" property="changeType" />
    <result column="recharge_status" jdbcType="BIT" property="rechargeStatus" />
    <result column="recharge_no" jdbcType="VARCHAR" property="rechargeNo" />
    <result column="transactionid" jdbcType="VARCHAR" property="transactionid" />
    <result column="change_reason" jdbcType="VARCHAR" property="changeReason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, money, change_type, recharge_status, recharge_no, transactionid, change_reason, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.shanyuan.model.UmsUserRechargeRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user_recharge_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_user_recharge_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ums_user_recharge_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shanyuan.model.UmsUserRechargeRecordExample">
    delete from ums_user_recharge_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shanyuan.model.UmsUserRechargeRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_user_recharge_record (user_id, money, change_type, 
      recharge_status, recharge_no, transactionid, 
      change_reason, create_time)
    values (#{userId,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, #{changeType,jdbcType=BIT}, 
      #{rechargeStatus,jdbcType=BIT}, #{rechargeNo,jdbcType=VARCHAR}, #{transactionid,jdbcType=VARCHAR}, 
      #{changeReason,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shanyuan.model.UmsUserRechargeRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_user_recharge_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
      <if test="rechargeStatus != null">
        recharge_status,
      </if>
      <if test="rechargeNo != null">
        recharge_no,
      </if>
      <if test="transactionid != null">
        transactionid,
      </if>
      <if test="changeReason != null">
        change_reason,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="changeType != null">
        #{changeType,jdbcType=BIT},
      </if>
      <if test="rechargeStatus != null">
        #{rechargeStatus,jdbcType=BIT},
      </if>
      <if test="rechargeNo != null">
        #{rechargeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionid != null">
        #{transactionid,jdbcType=VARCHAR},
      </if>
      <if test="changeReason != null">
        #{changeReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shanyuan.model.UmsUserRechargeRecordExample" resultType="java.lang.Integer">
    select count(*) from ums_user_recharge_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_user_recharge_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.changeType != null">
        change_type = #{record.changeType,jdbcType=BIT},
      </if>
      <if test="record.rechargeStatus != null">
        recharge_status = #{record.rechargeStatus,jdbcType=BIT},
      </if>
      <if test="record.rechargeNo != null">
        recharge_no = #{record.rechargeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionid != null">
        transactionid = #{record.transactionid,jdbcType=VARCHAR},
      </if>
      <if test="record.changeReason != null">
        change_reason = #{record.changeReason,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_user_recharge_record
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=INTEGER},
      change_type = #{record.changeType,jdbcType=BIT},
      recharge_status = #{record.rechargeStatus,jdbcType=BIT},
      recharge_no = #{record.rechargeNo,jdbcType=VARCHAR},
      transactionid = #{record.transactionid,jdbcType=VARCHAR},
      change_reason = #{record.changeReason,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shanyuan.model.UmsUserRechargeRecord">
    update ums_user_recharge_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="changeType != null">
        change_type = #{changeType,jdbcType=BIT},
      </if>
      <if test="rechargeStatus != null">
        recharge_status = #{rechargeStatus,jdbcType=BIT},
      </if>
      <if test="rechargeNo != null">
        recharge_no = #{rechargeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionid != null">
        transactionid = #{transactionid,jdbcType=VARCHAR},
      </if>
      <if test="changeReason != null">
        change_reason = #{changeReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shanyuan.model.UmsUserRechargeRecord">
    update ums_user_recharge_record
    set user_id = #{userId,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      change_type = #{changeType,jdbcType=BIT},
      recharge_status = #{rechargeStatus,jdbcType=BIT},
      recharge_no = #{rechargeNo,jdbcType=VARCHAR},
      transactionid = #{transactionid,jdbcType=VARCHAR},
      change_reason = #{changeReason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>